{% extends 'base.html.twig' %}

{% block title %}Hotel index
{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center p-5" style="width:100%;">
		<h1>{{ hotel.name }}</h1>
		<table class="table">
			<tbody>
				<tr>
					<th class="text-end" style="width: 25%">ID de l'établissement :</th>
					<td>{{ hotel.id }}</td>
				</tr>
				<tr>
					<th class="text-end" style="width: 25%">Nom de l'établissement :</th>
					<td>{{ hotel.name }}</td>
				</tr>
				<tr>
					<th class="text-end" style="width: 25%">Ville :</th>
					<td>{{ hotel.city }}</td>
				</tr>
				<tr>
					<th class="text-end" style="width: 25%">Adresse :</th>
					<td>{{ hotel.adress }}</td>
				</tr>
				<tr>
					<th class="text-end" style="width: 25%">Description :</th>
					<td>{{ hotel.description }}</td>
				</tr>
				<tr>
					<th class="text-end" style="width: 25%">Image :</th>
					<td>
						<img src=" {{asset('uploads/' ~ hotel.hotelImage) }}"/>
					</td>
				</tr>
				<tr>
					<th class="text-end" style="width: 25%">Nom du manager :</th>
					<td>{{ hotel.managername }}</td>
				</tr>
			</tbody>
		</table>
		<a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}" class="button mt-3">Éditer</a>
		<a href="{{ path('app_hotel_index') }}" class="link primary-link mt-3">Retour à la liste</a>
	</div>
{% endblock %}
